body {
    background-color: #bfdbf7;
}
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.forgot-password-content {
    padding: 40px;
    background: white; /* Background color for the form area */
    border-radius: 8px; /* Rounded corners for the form area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the form area */
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 100px;
}

.forgot-password-content h1 {
    margin-bottom: 20px; /* Space below the header */
    font-size: 1.5em; /* Header font size */
}

.forgot-password-content p {
    margin-bottom: 30px; /* Space below the paragraph */
}

.forgot-password-content form {
    display: flex;
    flex-direction: column;
}

.forgot-password-content input {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd; /* Light border for the inputs */
    border-radius: 4px; /* Slightly rounded borders for the inputs */
    font-size: 1em; /* Font size for the inputs */
}

.forgot-password-content button {
    padding: 15px;
    background-color: #333; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 4px; /* Slightly rounded borders for the button */
    cursor: pointer;
    font-size: 1em; /* Font size for the button */
}
